
    

/* HEADER */

header {
    border: 2px solid #83837c;
    background-image: url("images/space-1572212_640.png");
    padding-bottom: 40px;
}

header a {
    text-decoration: none;
    color: #FF6347;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 45%;
}

header h2 {
    font-weight: 400;
    font-size: 36px;
    color: #FF6347;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header nav ul li a {
    font-size: 20px;
    padding: 10px 15px;
}

header nav ul li a:hover {
    background: #FF6347;
    color: #83837c;
    border-radius: 15px;
    text-shadow: #FF6347;
}

/* BODY */

.body-div {
    background-color: #83837c;
    margin: 150px; 
}

.body-div h1 {
    font-size: 46px;
    text-align: center;
}

.body-div p {
    text-align: center;
    font-size: 25px;
}

/* BIO*/

#page-body {
    margin-top: 5%;
    margin-left: 9%;
    margin-right: 67%;
}

#page-body h3 {
    font-size: 36px;
   margin-right: 63%;
    border-right: 2px solid #83837c;
}

#bio h3 {
    color:#FF6347;
    padding-right: 10px;
}

body {
    background-color: #ccebff;
}

#page-body img {
    margin-top: 15%;
    margin-left: 30%;
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 30px;
}

#bio p {
    margin-bottom: 15px;
    margin-left: 25%;
    text-indent: 200px;
    text-align: justify;
    letter-spacing: 3px;
    float: right;
    font-size: 18px;
    font: #83837c;
}

/* EXAMPLES OF WORK */
#project-examples {
    margin-top: 10%;
    margin-left: 6%;
}

#project-examples h3 {
    font-size: 36px;
    color:#FF6347;
    padding-right: 10px;
    border-right: 2px solid #83837c;
}

#project-examples img, #project-examples span {
    width: 200px;
    float: inline-end;
    height: 200px;
    border-radius: 5px;
}

/* Contact Info */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#contact {
    margin-top: 20%;
    margin-right: 20%;
    margin-left: 8%;
}

.contact-bar {
    color:black;
    text-decoration: none;
}

#contact-form {
    font-size: 28px;
    font-weight: 750;
    color:#FF6347;
    padding-right: 10px;
    border-right: 2px solid #83837c;
}

#firstProjectImage {
    height: 400px;
    width: 500px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
       
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}
