 * {
     background-color: #5F9EA0;
 }
    

/* HEADER */

header {
    border: 2px solid black;
    position: relative;
    top: 0;
    justify-content: space-evenly;
    display: flex;
    overflow: hidden;
}

header a {
    text-decoration: none;
    color: #FF6347;
}

header nav ul {
    list-style-type: none;
    display: flex;
    margin-left: 45%;
}

header h2 {
    font-weight: 400;
    font-size: 36px;
    color: #FF6347;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a {
    font-size: 20px;
    padding: 10px 15px;
}

header nav ul li a:hover {
    background: #FF3333;
    color: #EDEDED;
    border-radius: 15px;
    text-shadow: #FF3333;
}

/* BODY */

.body-div {
    background-color: #EDEDED;
    margin: 150px; 
}

.body-div h1 {
    font-size: 46px;
    text-align: center;
}

.body-div p {
    text-align: center;
    font-size: 25px;
}

/* BIO*/

#page-body {
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 67%;
}

#page-body h3 {
    color: #252325;
    font-size: 36px;
    margin: auto;
}

#page-body img {
    margin-top: 15%;
    margin-left: 30%;
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

#bio p {
    margin-left: 25%;
    text-indent: 200px;
    text-align: justify;
    letter-spacing: 3px;
    float: right;
    font-size: 18px;
}

/* EXAMPLES OF WORK */
#project-examples {
    margin-top: 40%;
    margin-left: 10%;
}

#project-examples h3 {
    font-size: 36px;
}

#project-examples img, #project-examples span {
    width: 200px;
    float: inline-end;
    height: 200px;
    border-radius: 10px;
}

/* Contact Info */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#contact {
    margin-top: 50%;
    margin-right: 20%;
    margin-left: 10%;
}

#contact-form {
    font-size: 28px;
    font-weight: 750;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
       
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
}
